{% extends 'viapp/base.html' %}

{% block title %}Добавить фотографию{% endblock %}

{% block content %}
<div class="container mt-1 ms-1">
    <div class="row justify-content-start">
        <div class="col-md-8">
            <h2 class="mb-4">Добавить фотографии</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            
                <div class="form-group">
                    {{ form.images.label_tag }}
                    {{ form.images }}
            
                    {% if form.images.errors %}
                        <div class="text-danger">
                            {{ form.images.errors }}
                        </div>
                    {% endif %}
                </div>
            
                <button type="submit" class="btn btn-primary">
                    Загрузить
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}