{% extends 'viapp/base.html' %}

{% block title %}{{ album.title }}{% endblock %}

{% block content %}
<a href = "{% url 'viapp:albums' %}">АЛЬБОМЫ</a>
<h2>{{ album.title }}</h2>
<p>{{ album.description }}</p>
<p>Дата создания: {{ album.created_at }}</p>

{% if request.user.is_superuser or album.owner == request.user %}
    <a href="{% url 'viapp:download_album' album.id %}" class="btn btn-success">
        Скачать весь альбом (ZIP)
    </a>
{% endif %}

<p>

</p>

<!-- Список фотографий в альбоме -->
<div>
  {% for photo in album.photos.all %}

		<a href="{% url 'viapp:photo' photo.id %}">
			{{ photo.title }}
		</a>

		<style>
			.thumbnail {
        width: 200px;
        height: 150px;
        object-fit: cover; /* Сохраняет пропорции */
      }
		</style>
		<img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="thumbnail">
  {% endfor %}
</div>

<p>

</p>

	{% if request.user.is_superuser %}
<a href="{% url 'viapp:add_photo' %}"  >
	добавить новое фото
</a>
	{% endif %}



{% endblock %}