{% extends 'viapp/base.html' %}

{% block title %}Список альбомов{% endblock %}

{% block content %}
	<h2>Список альбомов</h2>

<ul>
	{% for album in albums %}
		<li>
			<!-- Ссылка на альбом -->
			<a href="{% url 'viapp:album' album.id %}">
				{% if album.cover %}
				<img
					src = "{{ album.cover.image.url }}"
					alt = "Обложка альбома"
					style="max-width: 100px;"
				>
				{% else %}
					<div> Нет обложки </div>
				{% endif %}
				{{ album.title }} ({{ album.created_at|date:"d.m.Y" }}) {{ album.description }}
			</a>
		</li>
	{% empty %}
		<li> Альбомов пока нет. </li>
	{% endfor %}
</ul>
	{% if request.user.is_superuser %}
<a href="{% url 'viapp:add_album' %}"  >
	добавить новый альбом
</a>
	{% endif %}


{% endblock %}