{% extends 'viapp/base.html' %}

{% block title %}{{ photo.title }}{% endblock %}

{% block content %}
<h2>{{ photo.title }}</h2>
<img src="{{ photo.image.url }}" alt="{{ photo.title }}" width="400">

<p>{{ photo.description }}</p>

<!-- Скачать фото -->
<a href = "{% url 'viapp:download_photo' photo.id %}" class="btn btn-primary"> скачать фото
</a>

<p>
</p>
<!-- Удалить фото -->
{% if request.user.is_superuser %}
        <a href="{% url 'viapp:delete_photo' photo.id %}" class="btn btn-danger"
           onclick="return confirm('Удалить фото? Это действие нельзя отменить!')">
            Удалить фото
        </a>
{% endif %}

<!-- Вернуться к альбому -->
<p><a href="{% url 'viapp:album' photo.album_id %}">Вернуться к альбому</a></p>

<div class="photo-navigation">

    <!-- Кнопка "Назад" -->
    {% if prev_photo %}
        <a href="{% url 'viapp:photo' prev_photo.id %}" class="btn btn-primary">← Предыдущая</a>
    {% endif %}

    <!-- Кнопка "Вперед" -->
    {% if next_photo %}
        <a href="{% url 'viapp:photo' next_photo.id %}" class="btn btn-primary">Следующая →</a>
    {% endif %}
</div>

{% endblock %}